.note {
    position: relative;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); 
    margin-bottom: 1em;
    border-radius: 10px 10px 0px 0px;
    float: left;
    width: 50%;
}

.note_toolbar {
    background: #3f51b5;
    border-radius: 8px 8px 0px 0px;
    text-align: right;
}

.close {
    top: 5px;
    cursor:pointer;
    color: white;
    position: relative;
}

.content {
    padding: 5px;
    outline: none;
    height: 150px;
    overflow-y: auto;
}
